.tabName {
  text-align: left;
  font-size: 50;
  max-width: 90px;
  display: inline-block;
  white-space: nowrap;
}

.topBarItem {
  margin: 10px;
  text-align: center;
  font-size: 50;
  display: flex;
  white-space: nowrap;
}

.topBar {
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.addStuff {
  padding: 4px;
  margin: 10px;
  color: grey;
  width: 177px;
  font-size: 17px;
}
.addStuff:hover {
  background-color: darkgrey;
}

#colData {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
}

.itemPic {
  color: red;
  display: flex;
}

.list-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
